<h1>Create a Team and Heroes!</h1>

<form action="/team" method="post">
  <p>Team Name:<input type="text" name="team[name]" value=""></p>
  <p>Team Motto:<input type="text" name="team[motto]" value=""></p>

  <h2>Hero 1</h2>
  <p>Hero's Name:<input type="text" name="team[heroes][][name]" value="" id="member1_name"></p>
  <p>Hero's Power:<input type="text" name="team[heroes][][power]" value="" id="member1_power"></p>
  <p>Hero's Biography:<input type="text" name="team[heroes][][bio]" value="" id="member1_bio"></p>

  <h2>Hero 2</h2>
  <p>Hero's Name:<input type="text" name="team[heroes][][name]" value="" id="member2_name"></p>
  <p>Hero's Power:<input type="text" name="team[heroes][][power]" value="" id ="member2_power"></p>
  <p>Hero's Biography:<input type="text" name="team[heroes][][bio]" value="" id="member2_bio"></p>

  <h2>Hero 3</h2>
  <p>Hero's Name:<input type="text" name="team[heroes][][name]" value="" id="member3_name"></p>
  <p>Hero's Power:<input type="text" name="team[heroes][][power]" value="" id="member3_power"></p>
  <p>Hero's Biography:<input type="text" name="team[heroes][][bio]" value="" id="member3_bio"></p>
  <input type="submit" name="" value="submit" id="submit">
</form>
